# --- Conexión a Proxmox (usado por todos los scripts) ---
PROXMOX_IP=192.168.0.100
PROXMOX_USER=root@pam
TOKEN_NAME=tu_token_id
TOKEN_SECRET=tu_token_secret
PROXMOX_NODE=pve

# --- 01_crear_usuario.py ---
NEW_USER_ID=usuario@pve
NEW_USER_PASSWORD=una_contraseña_segura

# --- 02_crear_grupo_y_rol.py ---
GROUP_ID=nombre-del-grupo
GROUP_COMMENT=Descripción del grupo
ACL_ROLE=PVEAuditor
ACL_PATH=/

# --- 03_crear_token_api.py ---
NEW_TOKEN_USER=usuario@pve
NEW_TOKEN_NAME=nombre-del-token
NEW_TOKEN_COMMENT=Descripción del uso del token
NEW_TOKEN_PRIVSEP=1

# --- 04_configurar_metric_server.py ---
METRIC_SERVER_ID=id-del-metric-server
METRIC_SERVER_TYPE=graphite
METRIC_SERVER_HOST=ip_de_tu_servidor_graphite
METRIC_SERVER_PORT=2003

# --- 05_crear_contenedor_lxc.py ---
PROXMOX_NODE=999
CT_CREATE_VMID=999
CT_HOSTNAME=nombre-del-ct
CT_TEMPLATE=local:vztmpl/nombre-de-tu-plantilla.tar.zst
CT_ROOT_PASSWORD=una_contraseña_segura
CT_CORES=2
CT_MEMORY=512
CT_SWAP=512
CT_DISK=local-lvm:8
CT_BRIDGE=vmbr0

# --- 06_crear_vm.py ---
PROXMOX_NODE=999
VM_VMID=999
VM_ISO=local:iso/nombre-de-tu-iso.iso
VM_NAME=nombre-de-la-vm
VM_CORES=4
VM_SOCKETS=1
VM_MEMORY=1024
VM_DISK=local-lvm:5
VM_BRIDGE=vmbr0

# --- 07_clonar_vm_o_ct.py ---
PROXMOX_NODE=999
CLONE_TYPE=ct
CLONE_SOURCE_ID=999
CLONE_NEW_ID=999
CLONE_NAME=nombre-del-clon
CLONE_STORAGE=local-lvm

# --- 08_control_estado_vm_ct.py ---
PROXMOX_NODE=999
CT_TARGET_VMID=999
CT_ACTION=start

# --- 09_consumo_de_almacenamiento.py ---
TOP_N_ARCHIVOS=5

# --- 10_consumo_cpu_ram.py ---
TOP_N_CONSUMO=5

# --- 11_rotacion_snapshots.py ---
PROXMOX_NODE=999
SNAPSHOT_RETENTION_DAYS=3

# --- 12_alerta_certificados_ssl.py ---
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASSWORD=tu_contraseña_de_aplicacion
SMTP_DESTINO=correo_donde_recibir_alertas@gmail.com
SSL_ALERT_DAYS=7
